<angular-xyflow
  [nodes]="nodes()"
  [edges]="edges()"
  [edgeTypes]="edgeTypes"
  [defaultEdgeOptions]="defaultEdgeOptions"
  [snapToGrid]="true"
  (onNodesChange)="onNodesChange($event)"
  (onEdgesChange)="onEdgesChange($event)"
  (onNodeClick)="onNodeClick($event)"
  (onNodeDragStop)="onNodeDragStop($event)"
  (onEdgeClick)="onEdgeClick($event)"
  (onEdgeDoubleClick)="onEdgeDoubleClick($event)"
  (onEdgeMouseEnter)="onEdgeMouseEnter($event)"
  (onEdgeMouseMove)="onEdgeMouseMove($event)"
  (onEdgeMouseLeave)="onEdgeMouseLeave($event)"
  (onConnect)="onConnect($event)"
  (onDelete)="onDelete($event)"
>
  <angular-xyflow-minimap />
  <angular-xyflow-controls />
  <angular-xyflow-background />
</angular-xyflow>
